body {
	font: 16px/1.63 'Montserrat', sans-serif;
}
a {
	color: $regular-color;
	text-decoration: none;
	&:hover {
		background: $accent-color;
	}
}
.d-none {
	display: none;
}
.d-sm-block {
	@media (min-width: $breakpoint-md) {
		display: block;
	}
}
.d-md-block {
	@media (min-width: $breakpoint-lg) {
		display: block;
	}
}
.wrapper {
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 30px;
}

.bg-box {
	color: $basic-white;
	background: $gradient-suppersoft;
}

